.login-form,
.register-form {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
}

.login-box,
.register-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
}

.login-input a,
.register-box a {
    color: #000;
}

.login-input a:hover,
.register-box a:hover {
    color: #65a7d3;
}

.login-input,
.register-input {
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px 40px;
    font-size: 14px;
    z-index: 2;
}

.userbox {
    position: relative;
}

.userbox input,
.userbox select {
    background-color: #fff;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    border: 1px solid #000;
}

.input-group {
    border-radius: 8px;
    outline: none;
    box-shadow: none;
    border: #000;
    font-size: 13px;
}

.userbox label {
    position: absolute;
    top: -2px;
    left: 10px;
    font-size: 12px;
    color: #000;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #fff;
}

.userbox input:focus,
.userbox select:focus {
    border: 1px solid #65a7d3;
    color: #65a7d3;
}

.userbox input:focus~label,
.userbox select:focus~label {
    color: #65a7d3;
}

.userbox input:focus::placeholder {
    opacity: 0;
}

.userbox input::placeholder {
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon-eye {
    width: max-content;
    height: max-content;
    position: absolute;
    right: 0.75rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    font-size: 1.25rem;
    cursor: pointer;
    transform: rotateY(180deg);
    transition: all 0.6s ease-in-out;
}

.btn-login {
    background-color: #fff;
    color: #242649;
    font-size: 14px;
    padding: 10px 45px;
    border: 1.5px solid #242649;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 10px 0 256px 0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn-register {
    background-color: #fff;
    color: #242649;
    font-size: 14px;
    padding: 10px 45px;
    border: 1.5px solid #242649;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 12px 0 176px 0;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn-login:hover,
.btn-register:hover {
    background-color: #242649;
    color: #fff;
}

.login-container,
.register-container {
    background-image: url(https://i.pinimg.com/originals/2d/5d/51/2d5d5117871209b09a3c17a28905e294.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.login-banner,
.register-banner {
    background-color: #212121;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
}

.login-text,
.register-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

#setting_page_container {
    display: flex;
    flex-direction: row;
}

#setting_page_container .setting_main_content {
    flex: 1;
    padding: 0.5rem 1rem;
}

#aside_setting_container {
    flex: 0 0 20vw;
    height: 100vh;
    position: sticky;
    right: 0;
    top: 0;
    padding: 1rem 1rem;
    border-right: 1px solid #dee2e6;
}

.aside-setting-list li a {
    padding: 0.5rem;
}

.aside-setting-list li {
    transition: 0.3s ease-in-out;
}

.aside-setting-list li:hover {
    border-radius: 8px;
    background-color: #cddfef;
}

.aside-setting-list li:hover a,
.aside-setting-list li:hover a span {
    color: #242649;
}

.aside-setting-list li a {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.6rem;
}

.backdrops {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease-in;
}

.backdrops.active {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width:992px) {
    #setting_page_container {
        display: block;
    }

    #aside_setting_container {
        width: 100%;
        visibility: hidden;
        opacity: 0;
        border: none;
        z-index: 2000;
        background-color: #FFFFFF;
        transition: 0.3s ease-in-out;
    }

    #aside_setting_container.show {
        visibility: visible;
        opacity: 1;
    }

    .setting_main_content {
        width: 100vw;
        height: 100vh;
        background-color: #FFFFFF;
        transition: 0.3s ease-in-out;
        position: fixed;
        top: 0;
        overflow-y: auto;
    }

    .setting_main_content.active {
        display: block;
    }

    .avatar_setting_container input {
        width: 100%;
    }

    .avatar_setting {
        width: 30vw;
        /* height: 20%; */
        object-fit: cover;
        border-radius: 50%;
        aspect-ratio: 1/1;
        border: 3px solid #dee2e6;
        padding: 0.2rem;
    }

    .setting-backhome {
        width: 30%;
    }

    .join-newletter-container form {
        width: 100%;
        position: relative;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    #setting_page_container {
        display: block;
    }

    #aside_setting_container {
        width: 40%;
        visibility: hidden;
        opacity: 0;
        border: none;
        z-index: 2000;
        background-color: #FFFFFF;
        transition: 0.3s ease-in-out;
    }

    #aside_setting_container.show {
        visibility: visible;
        opacity: 1;
    }

    .setting_main_content {
        width: 100vw;
        height: 100vh;
        background-color: #FFFFFF;
        transition: 0.3s ease-in-out;
        position: fixed;
        top: 0;
        right: 0;
        overflow-y: auto;
    }

    .setting_main_content.active {
        display: block;
    }

    .avatar_setting_container input {
        width: 40%;
    }

    .avatar_setting {
        width: 20vw;
        height: 20vw;
        object-fit: cover;
        border-radius: 50%;
        aspect-ratio: 1/1;
        border: 3px solid #dee2e6;
        padding: 0.2rem;
    }

    .setting-backhome {
        width: 40%;
    }
}

.form_setting_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.avatar_setting_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.avatar_setting_container input {
    width: 30%;
}

.avatar_setting {
    width: 12vw;
    height: 12vw;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #dee2e6;
    padding: 0.2rem;
    overflow: hidden;
}

.form_setting_except_avatar input,
.form_setting_except_avatar select {
    width: 100%;
    outline: none;
    background-color: transparent;
    padding: .5rem 0;
    border: none;
    border-bottom: 1px solid #dee2e6;
}

.form_setting_except_avatar label {
    color: #242649;
}

.btn_success {
    padding: 0.5rem 1.5rem;
    background-color: #fff;
    color: #242649;
    border: 1px solid #242649;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn_success:hover {
    background-color: #242649;
    color: #fff;
}

.cursor-not-allowed {
    cursor: not-allowed !important;
    opacity: 0.5;
    /* Làm mờ nút để biểu thị rằng nó bị vô hiệu hóa */
}

.form_setting_except_avatar .icon-eye {
    width: max-content;
    height: max-content;
    position: absolute;
    right: 0.75rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    font-size: 1.25rem;
    cursor: pointer;
    transform: rotateY(180deg);
    transition: all 0.6s ease-in-out;
}

.fui-loading-ring {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

.fui-loading-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    height: 80px;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 7px solid #65a7d3;
    border-radius: 50%;
    animation: S3ZAk 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #65a7d3 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.fui-loading-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.fui-loading-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.fui-loading-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes S3ZAk {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}